/*-----------------------------------------------*/
/* General Styles                                */
/*-----------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #282D35;
    color: #fff;
}


/*-----------------------------------------------*/
/* Navigation Bar                                */
/*-----------------------------------------------*/

nav {
    display: flex;
    align-items: center;
    background: #21222A;
    color: #DEEBF8;
    padding: 30px 25px;
}

.nav--logo_text {
    margin: 0 auto 0 7px;
    font-size: 23px;
    color: #61DAFB;
}

.nav--title {
    font-weight: 600;
    margin: 0;
}


/*-----------------------------------------------*/
/* Main Content                                  */
/*-----------------------------------------------*/

main {
    /* background: bg-image position bg-repeat */
    background: url("./images/reactjs-icon-2.png") right bottom no-repeat;
}

.main--title {
    font-size: 40px;
    margin: 60px 0 40px 25px;
    letter-spacing: -0.05em;
}

.main--list {
    margin: 0;
    padding-left: 70px;
    line-height: 1.75;
    max-width: 450px;
}

.main--list li::marker {
    color: #61DAFB;
    font-size: 28px;
}